<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>{{ name }}</string>
  <key>CFBundleIdentifier</key>
  <string>com.roerunner.albums-b-gone</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleShortVersionString</key>
  <string>{{ version }} </string>
  <key>CFBundleVersion</key>
  <string>{{ version }}</string>
  <key>DeveloperIdentifier</key>
  <string></string>
  <key>Chrome</key>
  <dict>
    <key>Database Quota</key>
    <real>104857600</real>
    <key>Global Page</key>
    <string>background.html</string>
    <key>Popovers</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>popup</string>
        <key>Filename</key>
        <string>popup.html</string>
        <key>Height</key>
        <integer>328</integer>
      </dict>
    </array>
    <key>Toolbar Items</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>item</string>
        <key>Label</key>
        <string>{{ name }}</string>
        <key>Popover</key>
        <string>popup</string>
        <key>Image</key>
        <string>albums-b-gone-icon-48b.png</string>
      </dict>
    </array>
  </dict>
  <key>Content</key>
  <dict>
    <key>Scripts</key>
    <dict>
      <key>Start</key>
      <array>
      </array>
      <key>End</key>
      <array>
        <string>version.js</string>
        <string>remove.js</string>
      </array>
    </dict>
  </dict>
  <key>ExtensionInfoDictionaryVersion</key>
  <string>1.0</string>
  <key>Permissions</key>
  <dict>
    <key>Website Access</key>
    <dict>
      <key>Include Secure Pages</key>
      <true/>
      <key>Allowed Domains</key>
      <array>
        <string>roerunner.com</string>
        <string>*.facebook.com</string>
      </array>
      <key>Level</key>
      <string>Some</string>
    </dict>
  </dict>
  <key>Description</key>
  <string>{{ description }}</string>
  <key>Author</key>
  <string>{{ author }}</string>
  <key>Website</key>
  <string>https://roerunner.come/</string>
  <key>Update Manifest URL</key>
  <string></string>
</dict>
</plist>
